* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  background-color: cyan;
  padding: 10px;
}

.nav-link {
  margin-right: 8px;
  text-decoration: none;
  font-size: 18px;
}

.nav {
  display: flex;
  justify-content: center;
}